swagger: '2.0'

host: api.polyweave.xyz
basePath: /v1

info:
  description: Polyweave API
  version: 0.0.1
  title: Polyweave API
  # put the contact info for your development or API team
  contact:
    email: carl@polyweave.xyz

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html


# tags are used for organizing operations
tags:
  - name: developers
    description: Operations available to regular developers

paths:
  /solana/transactions:
    get:
      tags:
        - developers
      summary: returns Solana transactoions
      operationId: getTransactions
      description: |
        By passing in the appropriate options, you can get transactions 
        from the system
      produces:
        - application/json
      parameters:
        - in: query
          name: cursor
          description: cursor to start at when fetching transactions
          required: false
          type: string
        - in: query
          name: limit
          description: max number of records to return
          type: integer
          format: int32
          minimum: 0
        - in: query
          name: api-key
          description: api key
          type: string
          required: true
          minimum: 0
      responses:
        200:
          description: transactions matching the query
          schema:
            type: array
            items:
              $ref: '#/definitions/SolanaTransaction'
        400:
          description: bad input parameter
definitions:
  SolanaTransaction:
    type: object
    required:
      - id
      - name
      - manufacturer
      - releaseDate
    properties:
      timestamp:
        type: string
        format: date-time
        example: 2004-10-19 10:23:54
      amount:
        type: number
        example: 2.2
      type:
        type: string
        example: NFT Purchase
      source:
        type: string
        example: Magic Eden
      tokensInvolved:
        type: array
        items:
          type: string
        example: []
      to:
        type: string
        example: BXnrt36feBqtJ3zXAXL6REPKZVhKrntK1FnucnL8Ks8U
      from:
        type: string
        example: AXnrt36feBqtJ3zXAXL6REPKZVhKrntK1FnucnL8Ks8U


schemes:
  - https
